body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navui{
  
  display: flex;
  word-spacing: normal;
}
.navcon{
  margin-right: 120px;
 
  
}
.cover-container{
  height: 520px;
  width: auto;
  background-image: url('./images//cover3.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding-top: 150px;
  
}
.main-heading{
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
 

}
.lead{
  font-weight: bold;
}
.quot1{
  
  color: rgb(178, 198, 218);
  font-size: 22px;
}
.quot2{
  transform: rotate(180deg);
  font-size: 22px;
 
  color: rgb(178, 198, 218);
}

.comontext{
  font-family: 'Anton', sans-serif;

}